.vscode
.vscode-test
.github
.gitignore
.git
.vscodeignore
src
tsconfig.json
Makefile
dump-sarc.js
print-header.js
print-header-offsets.js
debug-zstd.js
debug-encoded.js
test-core.js
package-lock.json
node_modules
out
src/test
esbuild.js
